@use '../../scss//abstracts/' as *;

.btn {
  @include flex;
  display: inline-flex;
  min-width: 110px;
  padding: 12px 32px;
  border-radius: 4px;

  font-size: $fontSizeMedium;
  font-weight: 700;
  color: $white;

  text-align: center;
  background-color: transparent;

  border: none;
  outline: none;
  user-select: none;
  text-decoration: none;
  cursor: pointer;

  transition: background-color 0.3s;

  &.reverse {
    & > i {
      order: 1;
      margin-right: 0;
      margin-left: 4px;
    }
  }

  & > i {
    font-size: $fontSizeLarge;
    margin-right: 4px;
  }

  &--size-s {
    font-size: $fontSizeNormal;
    padding: 4px 8px;
  }

  &--size-s > i {
    font-size: $fontSizeMedium;
  }

  & + & {
    margin-left: 16px;
  }

  &--primary {
    background-color: $mainColor;

    &:hover {
      background-color: rgba($mainColor, 0.8);
    }
  }

  &--info {
    background-color: $blue;

    &:hover {
      background-color: rgba($blue, 0.8);
    }
  }

  &--transparent:hover {
    color: $mainColor;
  }

  &--sliver {
    color: $black;
    background-color: $sliver;

    &:hover {
      background-color: rgba($sliver, 0.8);
    }
  }

  &--border {
    border-radius: 8px;
    border: 1px solid $white;
    transition: opacity 0.3s, transform 0.3s;

    &:hover {
      opacity: 0.7;
      transform: translateX(2px);
    }
  }

  &--disabled,
  &[disabled] {
    opacity: 0.5 !important;
    pointer-events: none;
  }

  @include tablet {
    &:not(.btn--size-s) {
      padding: 12px 32px;
    }
  }

  @include mobile {
    &:not(.btn--size-s) {
      padding: 8px 28px;
    }
  }
}
