@use '../../scss/abstracts/' as *;

.movie-card {
  display: block;
  box-shadow: $shadow;
  background-color: $boxBg;
  border-radius: 8px;

  overflow: hidden;
  user-select: none;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px rgba($black, 0.1);
  }

  &__wrapper-poster {
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
  }

  &__wrapper-poster::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba($black, 0.4);
    z-index: 1;

    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover &__wrapper-poster::before {
    opacity: 1;
  }

  &__play-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include flex;
    font-size: 4rem;
    color: rgba($mainColor, 0.8);
    z-index: 2;

    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover &__play-icon {
    opacity: 1;
  }

  &__poster {
    padding-top: 130%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: transform 0.3s;
  }

  &:hover &__poster {
    transform: scale(1.25);
  }

  &__content {
    padding: 0 8px 8px;
    & > * {
      margin-top: 0.5rem;
    }

    &__name {
      @include hiddenLine(1);
      font-size: $fontSizeMedium;
    }
    &__infos {
      @include flex(center, space-between);
      color: rgba($white, 0.5);

      & > li:last-child {
        border: 1px solid rgba($white, 0.5);
        padding: 0 4px;
        border-radius: 4px;
        font-size: 0.75rem;
      }
    }
  }
}
