$bodyBg: #eee;
$boxBg: #448AFF;
$mainColor: #eee;
$textColor: #000000;

$purple: #8624db;
$orange: #ff9066;
$white: #fff;
$black: #000;
$green: #4caf50;
$red: #db190c;
$blue: #007bff;
$sliver: #eee;
$sliverHover: #d9d8d8;
$shadow: 0 1px 2px rgba($black, 0.1);

$fontFamily: 'Roboto', sans-serif;
$fontSizeNormal: 1rem;
$fontSizeMedium: 1.5rem;
$fontSizeLarge: 2rem;

$tabletWidth: 740px;
$pcWidth: 1024px;

$headerHeight: 5rem;
$mobileNavHeight: 4rem;

$tabletHeaderHeight: 7rem;
$searchHeight: 2.5rem;
