@use './abstracts/' as *;

.container {
  max-width: 1570px;
  margin: 0 auto;

  &-fluid {
    width: 100%;
    display: block;
    padding: 0;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

[class*='col-'] {
  padding-left: 4px;
  padding-right: 4px;
}

.col {
  &-0 {
    display: none;
  }
  &-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  &-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  &-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  &-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  &-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  &-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  &-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  &-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  &-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  &-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  &-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  &-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: $tabletWidth) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .col {
    &-md-0 {
      display: none;
    }

    &-md-1,
    &-md-2,
    &-md-3,
    &-md-4,
    &-md-5,
    &-md-6,
    &-md-7,
    &-md-8,
    &-md-9,
    &-md-10,
    &-md-11,
    &-md-12 {
      display: block;
    }

    &-md-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    &-md-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    &-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    &-md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    &-md-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    &-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &-md-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    &-md-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    &-md-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    &-md-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    &-md-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    &-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@media only screen and (min-width: $pcWidth) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  [class*='col-'] {
    padding-left: 12px;
    padding-right: 12px;
  }

  .col {
    &-lg-0 {
      display: none;
    }

    &-lg-1,
    &-lg-2,
    &-lg-3,
    &-lg-4,
    &-lg-5,
    &-lg-6,
    &-lg-7,
    &-lg-8,
    &-lg-9,
    &-lg-10,
    &-lg-11,
    &-lg-12 {
      display: block;
    }

    &-lg-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }

    &-lg-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }

    &-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    &-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    &-lg-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }

    &-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &-lg-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }

    &-lg-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }

    &-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    &-l-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }

    &-l-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }

    &-l-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@media only screen and (min-width: $tabletWidth) and (max-width: calc($pcWidth - 1px)) {
  .container {
    width: 644px;
  }
}

@media only screen and (min-width: $pcWidth) and (max-width: 1239px) {
  .container {
    width: 984px;
  }
}

@media only screen and (min-width: 1240px) and (max-width: 1439px) {
  .container {
    width: 1200px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1600px) {
  .container {
    width: 1370px;
  }
}
